html,body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family:"Roboto";
    color: white;
}

.header {
    display: flex;
    background-color:#1F2937;
    gap:8px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
}

.header-logo {
    display: flex;
    margin-right: auto;
}


.section-one {
    display: flex;
    background-color:#1F2937;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color:#F9FAF8;
    padding: 64px;
    gap: 24px;
}

.section-one-left-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 8px;
}
.section-one-headline {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;

}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    width: max-content;
    border-radius: 6px;
    padding: 6px 12px 6px 12px;
    border: none;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two-headline {
    padding-top: 32px;
    padding-bottom: 16px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info {
    display: flex;
    color: grey;
    gap: 16px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 160px; 
}
