html,body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family:"Roboto";
    color: white;
}

.header {
    display: flex;
    background-color:#1F2937;
    gap:8px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
}

.header-logo {
    display: flex;
    margin-right: auto;
}


.section-one {
    display: flex;
    background-color:#1F2937;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color:#F9FAF8;
    padding: 64px;
    gap: 24px;
}

.section-one .sign-up-button {
    border: none;
}

.section-one-left-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 8px;
}
.section-one-headline {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;

}

.sign-up-button {
    box-sizing: border-box;
    background-color: #3882F6;
    color: white;
    width: max-content;
    border-radius: 6px;
    padding: 6px 18px 6px 18px;
    font-weight: 800;
    border-color: #F9FAF8;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px;
}

.section-two-headline {
    padding-bottom: 16px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info {
    display: flex;
    color: grey;
    gap: 16px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 160px; 
}

.section-two-img {
    border-radius: 84px;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;

}

.quote {
    display: flex;
    width: 700px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    display: flex;
    width: 700px;
    color: #1F2937;
    font-weight:800;
    font-size:20px;
    justify-content: flex-end;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    
}

.blue-box {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    width: 700px;
    justify-content: space-around;
    padding: 32px;
    align-items: center;
}

.blue-box-text {
    display: flex;
    flex-direction: column;
}

.section-four .sign-up-button {
  border-color: #F9FAF8;
  border-style: none;
  outline-style: solid;
  outline-color: #F9FAF8;
  outline-width: 3px;
  height: max-content; 
}

.section-four-text-one {
    font-size: 24px;
    font-weight: 800;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    margin-top: auto;

}
